<div class="full-container">
  <form class="form">
    <p class="title">Accesso</p>
    <p class="message">Controllare di aver compilato tutti i campi richiesti!</p>

    <label>
      <input
        [(ngModel)]="email"
        [ngModelOptions]="{ standalone: true }"
        id="email"
        required=""
        placeholder=""
        type="email"
        class="input"
      />
      <span>Email</span>
    </label>

    <label>
      <input
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
        id="password"
        required=""
        placeholder=""
        type="password"
        class="input"
      />
      <span>Password</span>
    </label>
    <button type="submit" class="submit" (click)="login()">Conferma</button>
    <p class="signup">Non ancora registrato ? <a routerLink="/">Registrazione</a></p>
  </form>
</div>
